<div id="{component_id}" class="{class}"> 
	<div id="{component}hidden">
		<input type="hidden" id="{component}detailaction" name="{component}detailaction" value="" />
		<!--BeginSectHiddenField-->
		<input type="hidden" id="{component}{id}" name="{component}{id}" value="{value}" />
		<!--EndSectHiddenField-->
	</div>
	Newsletter FORM
	<fieldset>
		<div> 
			<label>E-Mail&nbsp; <span class="required">*</span></label>
			{email_field}
			<label>Nome&nbsp;</label>
			{fullname_field}
			<!--BeginSect_privacy-->
			<label>Privacy&nbsp;</label>
			{privacy_field}
			<!--EndSect_privacy-->
		</div>
	</fieldset>
	<!--BeginSectError-->
	<div class="error">{strError}</div>
	<!--EndSectError-->
	<div>{ActionButtons}{ActionButtonCancel}</div>
</div>